@mixin breakpoint($breakpoint) {
    @media (min-width: $breakpoint) { @content; }
}

$desktop            : 990px;
//Colors:
$blue               : #337ab7;
$lineColor          : $blue;
$light_gray         : lightgray;
$white              : white;
$desert_storm       : #f8f8f8;


#main {

    margin:0 auto;
    width: 90%;

    @include breakpoint($desktop) {
        width: $desktop;
    }
}

header {
    .inner {
        margin:0 auto;
        width: 90%;

        .logo {
            margin-top:10px;
            margin-bottom:30px;

            .name {
                font-size:25px;
                font-weight: 400;
            }

            .version {
                &::before {
                    content: "Version";
                    display: inline-block;
                    margin-right:5px;
                }

                color:#aaa;
                font-size:10px;
            }
        }

        @include breakpoint($desktop) {
            width: $desktop;
        }
    }


/*
    &::after {
        content: '';
        display: block;
        height: 10px;
        width: 100%;
        background-color:$lineColor;
        margin-top:5px;
    }
*/
    margin-bottom:20px;
}


.toast-success{background-color:#dff0d8}
.toast-error{background-color:#f2dede}

//Layerdefinition index.php

.hintergrund {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.inhalt {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
}
//Override bootstrap.min.css um Tabellen-Farben anzupassen
.tabhintergrund {
    background-color: $light_gray;
}
//Override bootstrap.min.css um Tabellen-Farben anzupassen
.jumbotron {
    background-color: $white;
}

.table-striped > tbody > tr:nth-child(2n + 1) {
    > td {
        background-color: $white;
    }
    > th {
        background-color: $white;
    }
}
//nochmaliger Override jumbotron per id um Hinweisfarbe bei Suche anzupassen
#noteSearch {
    background-color: $desert_storm;
}


